# format specifier

In [3]:
print"nagesh\nrajput"
print'saket\nrajput'

nagesh
rajput
saket
rajput

In [4]:
#there is not a difference between ''(single quotes) and  double quotes ""()

In [12]:
print "it's a \"cool\" day in hyderabad"

it's a "cool" day in hyderabad

###### put   backslash (\) before any special symbol the same symbol is printed

##### r before print function only avoid escape sequence \n \t etc

In [14]:
print  "%s, %d, %o , %x %r"

%s, %d, %o , %x %r

In [25]:

cost = 12.34
product = "apple"
print "the cost price of "+product+" is:"+str(int(cost))

the cost price of apple is:12

# using format specifier

In [26]:
print "%d"%12.34

12

## """ %d -> <int 
        %f -> <float
        %s -> <string
        %r -> <raw string
        %x -> <hexadecimal
        %o -> <octal

In [27]:

cost = 12.34
product = "apple"
print "cost price of %s is: %d"%(product,cost)

cost price of apple is: 12

# we dont have to put comma (,)

In [43]:
name = "jayaram"
age = 1.6
height = 5.6
weight = 10.341212
print "Name: %s,age:%.1f,Height:%.2f,Weight:%d"%(name,age,height,weight)

Name: jayaram,age:1.6,Height:5.60,Weight:10

In [2]:
a = 10
b = bin(a)
print b

print ("%o"%a)

0b1010
12

### difference beetween string (%s) and rawstring (%r)

In [44]:
s1 = "this is line 1 \n this is line 2"

In [45]:
s1

'this is line 1 \n this is line 2'

In [46]:
#if we want ascii value
ord ("a")

97

In [48]:
#if we want characters from that ascii

chr (97)

'a'

In [4]:
ord ("A") - ord ("a")

-32

In [5]:
a = "a"

In [16]:
b = ord(a)
print ( chr(b-32))

A

In [8]:
chr(32)

' '

In [1]:
a = 0
a

0