In [1]:
# in this 1 hour i am going to study the sqlite 3 using python and i want this  tutorial to be end in any of the time

In [36]:
import sqlite3

In [37]:
db = sqlite3.connect("nageshdatabase.db")

# db is instance for database connection and having a method called connect

In [5]:
# we have to make a cursor object which provide some method used for manipulation

In [6]:
cursor = db.cursor()

In [49]:
cursor.execute('create table info1(id integer primary key,name Text)')

# any sql query whicch is going to execute

In [39]:



# whenever we can call this method we cant we able to do make our table so this method is so important that is commit

In [40]:
db.commit()

In [41]:
cursor.execute('drop table info2')

OperationalError: no such table: info2

# inserting data into database

In [42]:
import sqlite3

In [43]:
db = sqlite3.connect('nageshdatabase.db')

In [46]:
id1 = 1 
name1 = "nagesh" 
id2 = 2
name2 = "papa"

In [47]:
cursor = db.cursor()

In [48]:
cursor.execute('insert into info(id,name)values(?,?)',(id1,name1))


# inserting throough question mark place holder

In [50]:
# we can also insert through

In [51]:
cursor.execute('insert into info1(id,name)values(5,"naga singh rajput")')

In [53]:
db.commit()