In [2]:
import sqlite3

In [3]:
db = sqlite3.connect('nagesh.db')

In [4]:
id1 = 1

In [5]:
name = "nagesh singh rajput"

In [6]:
id2 = 2

In [7]:
name1 = "vivek singh rajput"

In [8]:
cursor = db.cursor()

In [14]:
#using ? (question mark placeholder)

# this is the first way to enter data into our database which is using ? place holder

In [15]:
cursor.execute('insert into info(id,name) values(?,?)',(id1,name))

IntegrityError: UNIQUE constraint failed: info.id

In [16]:
db.commit()

In [17]:
cursor.execute('insert into info(id,name) values(?,?)',(id2,name1))

IntegrityError: UNIQUE constraint failed: info.id

In [13]:
db.commit()

In [19]:
id3,name = 3,"saket "

In [20]:
cursor.execute('insert into info(id,name) values(?,?)',(id3 ,name))

In [21]:
# we can insert as many as

In [22]:
db.commit()

# 2nd way to insert elements in database

In [23]:
id4,name = 4,"nisha singh rajput"

In [25]:
cursor.execute('insert into info(id,name) values(4,"nisha")')

In [26]:
db.commit()

In [27]:
id5,name = 5,"satya narayan singh rajput"

In [29]:
cursor.execute('insert into info(id,name) values(5,"satya narayan singh")')

In [30]:
db.commit()

In [31]:
names=["jayaram","vedhanvesh","pavan","sathish","shruthi","thrishanth","dhanush","sai"]
addresses=["ameerpet","srnagar","ESI","Sanathnagar","Bharath nagar","hitech city","KPHB"]
import random
print random.choice(names)

dhanush

In [32]:
names=["jayaram","vedhanvesh","pavan","sathish","shruthi","thrishanth","dhanush","sai"]
addresses=["ameerpet","srnagar","ESI","Sanathnagar","Bharath nagar","hitech city","KPHB"]
import random
print random.choice(names)

thrishanth

In [41]:
import random
names=["nagesh","saket","pavan","sathish","shruthi","thrishanth","dhanush","sai"]
x = 591
for i in name:
    q="insert into info(id, name) values(%s,'%s')"%(x,random.choice(names),)
    x+=1
    cursor.execute(q)
    db.commit()

In [39]:
# this is how we can enter any data with our choice in database