In [5]:
dict = {1:2,3:4,5:6,"ke":"va",[1,2,3]:[1,3,4]}
print dict [1]
print dict ["ke"]
print dict[[1,2,3]]

TypeError: unhashable type: 'list'

In [6]:
#we cannot use mutable type like list dictionary numpy array in  place of keys

In [8]:
d = {1:10,1:20} # while storing if a same key  was there it can reinitialises that key and value

print d

{1: 20}

In [9]:
# we cant do any arithmetic operation with dictionary

In [11]:
dict 1 = {1:2,4:5}
dict 2 = {1:10 ,4:15}


print dict1 + dict2
print dict1 - dict2
print dict1 * dict2
print dict1 / dict2

SyntaxError: invalid syntax (<ipython-input-11-f70662ef1526>, line 1)

In [13]:
dict1 = {1:2,4:5}
dict2 = {1:10,4:15}
dict1 > dict2

False

In [16]:
dict1 = {1:2,4:5}
dict2 = {1:2,4:5}
dict1 >= dict2

True

In [15]:
1>1

False

In [17]:
d =  {"k1":1,"k2":2,"k3":3}

for i in d:
    print i

k3
k2
k1

In [18]:
d =  {"k1":1,"k2":2,"k3":3}

for i in d:
    print i ,d[i]

k3 3
k2 2
k1 1

In [19]:
#take name age and salary from the user and put it in a dictionary

In [ ]:
name = raw_input("enter name")
age = raw_input("enter age")
sal = raw_input("enter salary")

In [2]:
name = raw_input("enter name")
age = raw_input("enter age")
sal = raw_input("enter salary")

dict = {"name":name,"age":age,"salary":sal}
print dict

enter namenagesh
enter age18
enter salary48000
{'salary': '48000', 'age': '18', 'name': 'nagesh'}

In [5]:
name = raw_input("enter name")
age = raw_input("enter age")
sal = raw_input("enter salary")


dict = {"name":name,"age":age,"salary":sal}
for i in dict:
    print i,dict[i]

enter namesabs
enter age43
enter salary3446
salary

NameError: name 'd' is not defined

In [9]:
l = ["a","b","c","d"]
l1 = l
l[0] = 10
print  l 
print l1

[10, 'b', 'c', 'd']
[10, 'b', 'c', 'd']

In [10]:
l1[0]="nagesh nemo"
print l 
print l1

['nagesh nemo', 'b', 'c', 'd']
['nagesh nemo', 'b', 'c', 'd']

In [11]:
# if one variable is pointing to other then any change made i na any of the variable can affect both

In [16]:
l = ["a","b","c","d"]
l1 = l
l2 = l[:]
l3 = ["a","b","c","d"]


print l 
print l1
print l2
print l3


l[0] = 10
print "after modyfying"

print l 
print l1
print l2
print l3

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
after modyfying
[10, 'b', 'c', 'd']
[10, 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [17]:
d = {"name":"nagesh","age":"19","salary":"23455"}

d1 = d.copy()
d2 = d
d["age"]=50
print d
print d1
print d2

{'salary': '23455', 'age': 50, 'name': 'nagesh'}
{'salary': '23455', 'age': '19', 'name': 'nagesh'}
{'salary': '23455', 'age': 50, 'name': 'nagesh'}

In [18]:
#  if we want affect we gor for d2 = d but for same copy we use copy fn

In [ ]:
d = {"name":"nagesh","age":"19","salary":"23455"}

print d["age"]

In [19]:
#update modifies the existing values

In [20]:
#set default doesnt update

In [21]:
# for pop it is compulsary  to add an key in parameeter default we cant able to use

In [3]:
# the ways to iterate through dictionary

In [4]:


d =  {"k1":"v1","k2":"v2","k3":"v3"}

for i in d:
    print i

k3
k2
k1

In [5]:
# we can also print values alonwith keys


d =  {"k1":"v1","k2":"v2","k3":"v3"}

for i in d:
    print i,d[i]

k3 v3
k2 v2
k1 v1

In [6]:
# the keys and values will be in any order python peopele also dont know which pattern they are printing

In [7]:
d["k1"]

'v1'

In [8]:
# we can also call by keys itself to get the value like we get through index

In [30]:
d = {}

name = raw_input("enter your name :")
d["name"] = name
age = raw_input("enter your age :")
d["age"] = age
salary = raw_input("enter your salary :")
d["salary"] = salary

print d

enter your name :nagesh
enter your age :18
enter your salary :10k
{'salary': '10k', 'age': '18', 'name': 'nagesh '}

In [31]:
# we can also change the value of ditionary through keys because dictionary is mutable type

In [32]:
d["age"] = 50

In [33]:
print d

{'salary': '10k', 'age': 50, 'name': 'nagesh '}

In [34]:
d1  = d


print d1

{'salary': '10k', 'age': 50, 'name': 'nagesh '}

In [35]:
d1["salary"] = 1000

In [38]:
print d1
print d

{'salary': 1000, 'age': 50, 'name': 'nagesh '}
{'salary': 1000, 'age': 50, 'name': 'nagesh '}

In [39]:
# we modify d1 but the modofication will also be done in d because if we do d1 = d  both reference to same object 
# and  if we do chage in any of these two the effect will be shown in both of dictionaries as we see above

# the same thing is done in list because list and dictionary both are mutable type

In [ ]:
# we can also do same thing in list also0

In [40]:
l=["a","b","c","d"]
l1=l
l[0]=10
print l
print l1

[10, 'b', 'c', 'd']
[10, 'b', 'c', 'd']

In [42]:
l=["a","b","c","d",1000,2000]
l1=l
l2=l[:]    # copying all the data through indexing doesnt mean that both have the same reference
l3=["a","b","c","d",1000,2000]
print l
print l1
print l2
print l3
l[0]=10
print "after modifying l[0]"   # this modification should only be seen in direct copy and source list only nt to l2 and l3
print l
print l1
print l2
print l3

['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
after modifying l[0]
[10, 'b', 'c', 'd', 1000, 2000]
[10, 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]
['a', 'b', 'c', 'd', 1000, 2000]

In [43]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
d1=d.copy()
d2=d
d["age"]=50
print d
print d1
print d2

{'age': 50, 'name': 'anil', 'sal': '234567'}
{'age': '23', 'name': 'anil', 'sal': '234567'}
{'age': 50, 'name': 'anil', 'sal': '234567'}

In [50]:
d={'age': '23', 'name': 'anil', 'sal': '234567'}
print d["age"]
print d.get("age")
print d.get("pan")
print d["pan"]
print d


# here d.get() is basically a fn used to grap the values through and most beautiful advantage of d.get is that it 
# never throws an error if that key is not present there

23
23
None

KeyError: 'pan'

In [52]:
d.get("aadhar","336426030487")

'336426030487'

In [53]:
# if we print d we get updated dictionary with aadhar

In [54]:
print d

{'age': '23', 'name': 'anil', 'sal': '234567'}

In [55]:
# there is one more function known as update function which is used to update the dictionary 
d={'age': '23', 'name': 'anil', 'sal': '234567'}
d["age"]=50
d["mobile"]=9676622023
print d
print d.update({"age":60,"name":"anil kumar","pan":"sdfsdewr"})
print d

{'mobile': 9676622023L, 'age': 50, 'name': 'anil', 'sal': '234567'}
None
{'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023L, 'age': 60, 'pan': 'sdfsdewr'}

In [56]:
# on thing is so important that update fn doesnt return antything he only  modifies that existiing value

In [57]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023, 'age': 60, 'pan': 'sdfsdewr'}
d1=d.update({"adhar":"42r3rt32r"})
for i in d1:
    print i

TypeError: 'NoneType' object is not iterable

In [58]:
# we cant iterate over d1 because has nothing

In [59]:
# but we can iterate ovr d

In [60]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023, 'age': 60, 'pan': 'sdfsdewr'}
d1=d.update({"adhar":"42r3rt32r"})
for i in d:
    print i

name
sal
mobile
age
pan
adhar

In [61]:
# set default

In [62]:
# set default do same work as update but one big difference btn these two is that if there was key present in that 
# dictionary then setdefault do nothing to existing key values bt if there was not then make

In [63]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d.setdefault("pan","dfdsf")
print d

{'mobile': 9676622023L, 'name': 'anil kumar', 'pan': 'dfdsf', 'sal': '234567'}

In [64]:
d.setdefault("name","nagesh")

'anil kumar'

In [65]:
print d

{'mobile': 9676622023L, 'name': 'anil kumar', 'pan': 'dfdsf', 'sal': '234567'}

In [66]:
#set default doesnt change that existing values

In [67]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d1=d.pop("mobile")
print d
print d1

{'name': 'anil kumar', 'sal': '234567'}
9676622023

In [68]:
# pop is another fn which is used to delete items pop return value of that item which is popped up

In [69]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
d1=d
d.clear()
print d
print d1

{}
{}

In [70]:
# we also have a clear fn which is used to clear all the items present in dictionary

In [71]:
d={}
d1=d.fromkeys(range(10),"v1")
print d1

{0: 'v1', 1: 'v1', 2: 'v1', 3: 'v1', 4: 'v1', 5: 'v1', 6: 'v1', 7: 'v1', 8: 'v1', 9: 'v1'}

In [72]:
# from keys will do our work easier if we use this

In [73]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.has_key("name")
print d.has_key("pan")

True
False

In [74]:
### has_keys check for keys and return true if that key was there in d if not then false

In [75]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.items()
print d.keys()
print d.values()

[('mobile', 9676622023L), ('name', 'anil kumar'), ('sal', '234567')]
['mobile', 'name', 'sal']
[9676622023L, 'anil kumar', '234567']

In [79]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
print d.items()


keys = d.keys()
print keys


print d.values()
values= d.values()
print "the values are:",values

[('mobile', 9676622023L), ('name', 'anil kumar'), ('sal', '234567')]
['mobile', 'name', 'sal']
[9676622023L, 'anil kumar', '234567']
the values are: [9676622023L, 'anil kumar', '234567']

In [80]:
# we can also do this for loop

In [81]:
d={'name': 'anil kumar', 'sal': '234567', 'mobile': 9676622023}
for k,v in d.items():
    print k,v

mobile 9676622023
name anil kumar
sal 234567

In [4]:
person = {'name': 'Phill'}

salary = person.setdefault('salary')

In [2]:
print person

{'salary': None, 'name': 'Phill'}

In [7]:
 person.setdefault('salary', 22)

In [8]:
print person

{'salary': None, 'age': 22, 'name': 'Phill'}

In [11]:
a = 10

In [12]:
import sys
sys.getrefcount(a)

139

In [13]:
nagesh = 334

In [14]:
sys.getrefcount(a)

139

In [22]:
x = 6 
y = 6
print x
print y

6
6

In [23]:
x = x + 1
print x
print y

7
6

In [24]:
z = 6

In [25]:
print id(z)
print id(y)

55469184
55469184

In [ ]:
#python optimizes memory by giving reference to same object in

In [26]:
l = [2,3,45,56]
l1 = l

In [27]:
print id(l)
print id(l1)

90677768
90677768

In [28]:
l[0] = 34

In [29]:
print l1

[34, 3, 45, 56]

In [30]:
print l

[34, 3, 45, 56]

In [31]:
l = [12]

In [32]:
print id (l)

90678600

In [33]:
print id(l1)

90677768