In [1]:
l = "abcdef"

In [2]:
l

'abcdef'

In [7]:
l.split("b")

['a', 'cdef']

In [8]:
l = [2,3,4,"nag",2334]
l.split()

AttributeError: 'list' object has no attribute 'split'

In [10]:
a = list("abcd")

In [11]:
a

['a', 'b', 'c', 'd']

In [12]:
a = list("abcd".split())

In [13]:
a

['abcd']

NameError: name 'abcd' is not defined

In [17]:
l = ["python","c","cpp"]

In [18]:
l [0]

'python'

In [19]:
l [0][0]

'p'

In [21]:
l [0][22]


# we get an error that is out of an range

IndexError: string index out of range

# append()
## adding item to the list

In [49]:
odd = [1,3,5]
odd_=odd.append(7)

In [50]:
print odd
print odd_

#this proves that append() doesnt return anything only modifies the list

[1, 3, 5, 7]
None

In [27]:
odd = [1,3,5,7]
even = [2,4,6,8]

odd.append(even) #append only modifies the original list not return anything
print odd
print even

[1, 3, 5, 7, [2, 4, 6, 8]]
[2, 4, 6, 8]

In [31]:
odd = [1,3,5,7]
even = (2,4,6,8)

odd.append(even) #append only modifies the original list not return anything
print odd
print even

[1, 3, 5, 7, (2, 4, 6, 8)]
(2, 4, 6, 8)

In [34]:
odd = [1,3,5,7]
even = {2:1,4:22,6:34,8:345}
#we can also add dictionary to list through append

odd.append(even) #append only modifaies the original list not return anything
print odd
print even

[1, 3, 5, 7, {8: 345, 2: 1, 4: 22, 6: 34}]
{8: 345, 2: 1, 4: 22, 6: 34}

In [38]:
odd = [1,3,5,7]
even = (2,3,4,89)

#we can also add sets to list through append

odd.append(even) #append only modifies the original list not return anything
print odd
print even

[1, 3, 5, 7, (2, 3, 4, 89)]
(2, 3, 4, 89)

# extend()

In [28]:
odd = [1,3,5,7]
even = [2,4,6,8]

odd.extend(even) #extend also modifies only the original list not return anything
print odd
print even

[1, 3, 5, 7, 2, 4, 6, 8]
[2, 4, 6, 8]

In [47]:
odd = [1,3,5,7]
even = (2,4,6,8,"nagesh")
#we can also extend our list to tuple

odd.extend(even) #extend also modifies only the original list not return anything
print odd
print even

[1, 3, 5, 7, 2, 4, 6, 8, 'nagesh']
(2, 4, 6, 8, 'nagesh')

In [45]:
odd = [1,3,5,7,"nag"]
even = {2:1,4:22,6:34,8:345}
#we can also add dictionary to list through extend

odd.extend(even)  #extend extend the list but only in list format

print odd
print even

[1, 3, 5, 7, 'nag', 8, 2, 4, 6]
{8: 345, 2: 1, 4: 22, 6: 34}

# insert() 
## insert method inserts element to list at given index

In [56]:
list = [1,3,4,5,6,43,2223,5455555555]
list

[1, 3, 4, 5, 6, 43, 2223, 5455555555L]

In [57]:
list.insert(1,23244243424)

In [58]:
list

[1, 23244243424L, 3, 4, 5, 6, 43, 2223, 5455555555L]

In [59]:
#insert cannot delete that index element but insert and shift the elements

In [62]:
list = [1,(1.2,44)]
list.insert(1,(23,2455,4666))

In [73]:
list1=list1copy(list)

NameError: name 'list1copy' is not defined

In [69]:
della = del(list)

SyntaxError: invalid syntax (<ipython-input-69-e7d2a025a6b9>, line 1)

In [74]:
list = ["abcdefgh"]

In [75]:
list.sort

In [85]:
list = [1,2324,53,3223,-1,"naga","raja"]
print list
print "before sorting"
list.sort()

[1, 2324, 53, 3223, -1, 'naga', 'raja']
before sorting

In [84]:
 print list
print"after sorting"

[-1, 1, 53, 2324, 3223, 'naga', 'raja']
after sorting

In [86]:
list.reverse()
print list

['raja', 'naga', 3223, 2324, 53, 1, -1]

In [94]:
#doing reverse sorting that is descending
list = [1,2324,53,3223,-1,"naga","raja"]
print list
print "before sorting"
list.sort(reverse=True)
print list
#string is ahead because string is always greater than integer

[1, 2324, 53, 3223, -1, 'naga', 'raja']
before sorting
['raja', 'naga', 3223, 2324, 53, 1, -1]

In [95]:
#doing reverse sorting that is descending
list = [1,2324,53,3223,-1]
print "before sorting"
list.sort(reverse=True)
print list

before sorting
[3223, 2324, 53, 1, -1]

In [96]:
#removes takes element as argument as or as an parameter and doesnt return anything 
#pop removes last element and return last popped element and takes index as an argument

In [99]:
animal = ['cat','dog','rabbit']
what = animal.remove('cat')
print what 
print animal

None
['dog', 'rabbit']

In [103]:
animal = ['cat','dog','rabbit']
what = animal.pop(0)
#this pop removes first element 
animal.pop()
# this pop automatically removes last element
print what 
print animal

cat
['dog']

In [104]:
#for sorting purpose we use sort function but is we dont pass anything as an argument sort the element in ascending 
#order
#if we want to sort in descending order we pass reverse = True as an argument so that we achieve sorting in descending
#order

In [108]:
def add(*i):
    add = 0
    for i in i:
        add+=i
        print i
        
        print "the sum of elements is:",add
        
        
        
add(23,455,665,66)

23
the sum of elements is: 23
455
the sum of elements is: 478
665
the sum of elements is: 1143
66
the sum of elements is: 1209

In [110]:
s ="abcd"
s.split('b')

['a', 'cd']

In [112]:
"d".join(s.split('b'))

'adcd'

In [ ]:
s = raw_input("enter the string:")
e = raw_input("enter the character you want to replace")
f = raw_input("enter what to replace")
ss = s.rsplit(e,4)
f.join(ss)

In [1]:
l = [1,2,3,44]
l.extend("100")
print l
#we can iteraate through string

[1, 2, 3, 44, '1', '0', '0']

In [2]:
l = [1,2,3,44]
l.extend(100)
print l
#we can't iteraate through integer

TypeError: 'int' object is not iterable

In [3]:
l = [1,2,3,44]
l.extend("100")
print l

[1, 2, 3, 44, '1', '0', '0']

In [6]:
l = ["a","b","c"]
l.insert(-1,"e")
print l
#due to  negative indexing the e got in a

['a', 'b', 'e', 'c']

In [7]:
l = ["a","b","c"]
l.insert(-100,"e")
print l

['e', 'a', 'b', 'c']

In [8]:
#count

In [ ]:
l = [1,"A","e","A",34,3,"r","a"]
s = raw_input("enter an element").lower()

In [ ]:
#isinstance function
# to check whether inputted arguments is integer or not

In [9]:
l = [1,2,3,4]

print sum(l)

10

In [27]:
#take an input from the user convert it into nteger and make summation of that numbers

input = raw_input("give some elements which was separated by  comma:").split(',')
l2 = []
for i in input:
     l2.append(int(i))
        
        
print l2
print sum(l2)

give some elements which was separated by  comma:12,34,66,77,577
[12, 34, 66, 77, 577]
766

In [30]:
# but if there was digits we have to check for 
#take an input from the user convert it into nteger and make summation of that numbers

input = raw_input("give some elements which was separated by  comma:").split(',')
l2 = []
for i in input:
    if i.isdigit():
    
         l2.append(int(i))
        
        else:
            if i.isalnum():
                l2.append(0)
            else:
                if i.isalnum():
                    l2.append(0)
                else:
                    if i.count('.')==1:
                        
                        l2.append(float(i))
        
print l2
print sum(l2)

IndentationError: unindent does not match any outer indentation level (<ipython-input-30-4707a68be6bb>, line 11)

In [29]:
int("1+2j")

ValueError: invalid literal for int() with base 10: '1+2j'

In [31]:
#take an input from the user(which was separated by comma) convert it into nteger and make summation of that numbers

input = raw_input("give some elements which was separated by  comma:").split(',')
l2 = []
for i in input:
     l2.append(int(i))
        
        
print l2
print sum(l2)

give some elements which was separated by  comma:12,34,56
[12, 34, 56]
102

In [32]:
#if user will not interested in comma go for for loop inserted in raw_input function and ask the user to give how many 
#times he want to give the number

In [33]:
range_input = int(raw_input("how many times you want to give nos").strip())
for i in range(1,range_input+1)

how many times you want to give nos2