In [3]:
# tuples are very much similar to lists however they have one kry difference that is immutablity 
# once an element is inside the tuple it cannot be reassigned

In [4]:
t = (1,3,54)

In [5]:
type(t)

tuple

In [6]:
t[0]

1

In [7]:
t[-1]

54

In [8]:
# reassigning tuples

In [9]:
t[0] = "nagesh"

TypeError: 'tuple' object does not support item assignment

In [10]:
# we cant reassign tuples

In [11]:
#sets are unordered collection of unique objects

In [12]:
myset ={3,"naga",55}

In [13]:
type(myset)

set

In [14]:
# we cannot have duplicate objects like list in sets

In [15]:
mylist= [33,33,333,3,33,33,33,55,55]

In [16]:
myset = set(mylist)

In [17]:
print myset

set([33, 3, 333, 55])

In [18]:
#see we have only unique elements inside that list

In [19]:
#booleans

In [20]:
# booleans are operaor that allow you to convey true or false

In [21]:
True

True

In [22]:
False

False

In [23]:
2 > 3

False

In [24]:
3 == 7

False

In [25]:
# None

In [27]:
a = None

In [28]:
print a

None