# Q-1.
Take the input from the user for  (Total number of people, total number of buses, Number of seats for bus, adjust factor).
  Based on four inputs------
  Decide whether there is sufficient buses or not and give solution for how many extra buses required.

In [28]:
Total_no_of_people = input("enter total no of people:")
Total_no_of_buses = input("enter total no of buses:")
No_of_seats = input("enter no seats:")
adjust_factor = input("enter adjustment factor:") 
extra_bus = 0
No_of_seats = No_of_seats * Total_no_of_buses

if Total_no_of_people > No_of_seats:
    if (Total_no_of_people - No_of_seats) <= (adjust_factor * Total_no_of_buses):
        print "no more buses are required"
    else:
        more_seats = (Total_no_of_people - No_of_seats) - (adjust_factor * Total_no_of_buses)
        if more_seats > No_of_seats:
            extra_bus+=1
            print " sorry no more spaces left !!!no of more buses required is",extra_bus
        else:
            print "sorry more buses are required"
else:
    print "all people get their seats ! no more buses"

enter total no of people:34
enter total no of buses:1
enter no seats:6
enter adjustment factor:3
no of more buses required is 1

## Q-2. >
take temperature from the user and convert celsius -> fahrenheit

note ===formula [ fahrenheit = (celsius * 1.8) + 32 ]

In [12]:
celsius_temperature = raw_input("enter  temperature in celsius")
fahrenheit_temperature = (float(celsius_temperature) * 1.8) + 32
print "the "+celsius_temperature+" celsius is",fahrenheit_temperature,"fahrenheit"

enter celsius temperature34
the 34 celsius is 93.2 fahrenheit

# Q -3 
take temperature from the user and convert  fahrenheit -> celsius

In [14]:
fahrenheit_temperature = raw_input("enter  temperature in fahrenheit")
celsius_temperature = (float(fahrenheit_temperature) - 32) / 1.8
print "the "+fahrenheit_temperature+" fahrenheit is",celsius_temperature,"celsius"

enter  temperature in fahrenheit93.2
the 93.2 fahrenheit is 34.0 celsius

## Q-4
       find :
    -> factorial of every no.
    -> sum of four numbers
    -> average of four nos

In [10]:
n1 = input("enter no")
n2 = input("enter no")
n3 = input("enter no")
n4 = input("enter no")
print "the sum of four no is:",(n1+n2+n3+n4)
print "the average of four no is:",(n1+n2+n3+n4)/4

enter no23.3
enter no34.3
enter no33
enter no23.444
the sum of four no is: 114.044
the average of four no is: 28.511

# Q -> 5
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output

Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

Note: Use format specifiers(%s, %d, %f)

In [14]:
name = "jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
print "Name: %s,age:%.1f,Height:%.2f,Weight:%.3f"%(name,age,height,weight)

Name: jayaram,age:1.6,Height:3.54,Weight:10.344

## Q ->6 
Take three small case letters from the user convert in to uppercase.

In [9]:
ch1 = raw_input("enter lowercase character ")
ch2 = raw_input("enter lowercase character ")
ch3 = raw_input("enter lowercase character ")
ch1 = ord(ch1)
ch2 = ord(ch2)
ch3 = ord(ch3)
print ("the changed uppercase letter is %s"%(chr(ch1-32)))
print ("the changed uppercase letter is %s"%(chr(ch2-32)))
print ("the changed uppercase letter is %s"%(chr(ch3-32)))

enter lowercase character a
enter lowercase character b
enter lowercase character c
the changed uppercase letter is A
the changed uppercase letter is B
the changed uppercase letter is C

# Q->  7
          y=mx+b
          All a,b,c,d are consider as (x1,x2,x3,x4)
          m=1.23
          b=0.045
          find out y
          y=m(x1+x2+x3+x4)+b

In [13]:
X1 = input("enter value of a")
X2 = input("enter value of b")
X3 = input("enter value of c")
X4 = input("enter value of d")
b = 0.045
m = 1.23
y = m * (X1+X2+X3+X4) + b
print "the value of y is:",y

enter value of a12
enter value of b14
enter value of c2
enter value of d2
the value of y is: 36.945

## Q-> 8. 
Take name, age, height from the user and print like below
The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
Note: make sure that no space between : and a value and should be space after “COMA”

In [16]:
name = raw_input("enter name of the person:")
age = raw_input("enter age of the person:")
height = raw_input("enter height of the person:")
age = int(age)
height = float(height)
print "Name:%s,Age:%d,Height:%f"%(name,age,height)

enter name of the person:nagesh singh rajput
enter age of the person:19
enter height of the person:23.55
Name:nagesh singh rajput,Age:19,Height:23.550000

## Q ->9 
Take the distance in km
Show that in cm, meters, in milli meters, cents, feets

In [18]:
km = input("enter distances in km")
meter = km * 1000
cm = km * 100000
mm = km * 1000000
feets = km * 3280.84
print "conversion of km into meter is : %d"%meter
print "conversion of km into centimeter is : %d"%cm
print "conversion of km into milli-meter is : %d"%mm
print "conversion of km into feets is : %f"%feets

enter distances in km11
conversion of km into meter is : 11000
conversion of km into centimeter is : 1100000
conversion of km into milli-meter is : 11000000
conversion of km into feets is : 36089.240000

## Q-> 10
Take the size of your hard disk in GB
     	Show that in MB, KB, TB, PB

In [19]:
gb = input("enter your hard disk space in gb")
mb = gb * 1024
tb = gb * 0.001
kb = gb * (1024 * 1024)
pb = gb / 1000000
print "conversion of gb into mb is : %f"%mb
print "conversion of gb into tb is : %f"%tb
print "conversion of gb into kb is : %f"%kb
print "conversion of gb into pb is : %f"%pb

enter your hard disk space in gb12345
conversion of gb into mb is : 12641280.000000
conversion of gb into tb is : 12.345000
conversion of gb into kb is : 12944670720.000000
conversion of gb into pb is : 0.000000