In [2]:
import sqlite3

In [4]:
con = sqlite3.connect("batch48_db.db")

In [5]:
cur = con.cursor()

In [22]:
cur.execute("create table customer(int id, name varchar(250),address varchar(250))")

OperationalError: table customer already exists

In [23]:
sqlite3.__file__

'C:\\Users\\nagesh singh rajput\\Anaconda2\\lib\\sqlite3\\__init__.pyc'

In [25]:
cur.execute("insert into customer(id,name,address) values(1,'anil','ammerpeet')")

OperationalError: table customer has no column named id

In [ ]:
names = ["jayaram","vedhanavesh","pawan","nagesh","arjun"]